body {
  background-image: linear-gradient(skyblue, pink, silver);
  font-family: "Arial Rounded MT";
}
button {
  font-family: "Arial Rounded MT";
  color: darkblue;
}

#itemListBtn {
  padding: 10px;
}
.mainFlex {
  background-color: steelblue;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  height: 630px;
}
.CustomerViewsTab {
  padding: 5px;
  background-color: darkblue;
  height: 620px;
  width: 700px;
  color: darkblue;
}
.CustomerViewsTab h4 {
  font-size: larger;
  color: aliceblue;
}

.functionTab {
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  height: 100%;
  width: 700px;
  padding: 8px;
}
#exitApp {
  position: absolute;
  left: 94%;
  top: 1%;
  font-size: 16px;
  padding: 5px;
  border: none;
}
#minimizeApp {
  position: absolute;
  width: 40px;
  left: 90.7%;
  top: 1%;
  font-size: 16px;
  padding: 5px;
  border: none;
}
#minimizeApp:hover {
  background-color: lightgreen;
  color: grey;
  outline: none;
}

#exitApp:hover {
  background-color: red;
  color: white;
}
#datetime {
  text-align: right;
  font-size: 30px;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
h4 {
  text-align: center;
  margin: 0;
}
.salesList {
  height: 415px;
  background-color: khaki;
  padding: 5px;
  /* margin-top: 15px; */
  overflow: auto;
}
#sale-item {
  background-color: rgb(66, 224, 137);
  color: black;
  cursor: pointer;
}
#sale-item:hover {
  background-color: rgb(2, 112, 52);
  color: whitesmoke;
}
.totalAmountContainer {
  background-color: skyblue;
  /* width: 600px; */
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.amountContainer {
  text-align: end;
}
.totalAmount {
  text-align: center;
  font-size: 26px;
  background-color: khaki;
  border: none;
  color: rebeccapurple;
  height: 50px;
}
.barcodeReader {
  font-size: 1.5rem;
  margin-top: 8px;
}
#barcode {
  font-size: 1.5rem;
  width: 79%;
}
#barcode::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#salesListTable {
  background-color: skyblue;
}
.numpadsContainer {
  background-color: rebeccapurple;
  padding: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 380px;
  margin-left: 100px;
}
.numpadsContainer > button {
  width: 350px;
  height: 60px;
}
.numpadsContainer > div > button {
  font-size: 30px;
  margin: 14px;
  width: 85px;
}

#qtyOfOrder,
#qtyOfOrderLabel {
  padding: 10px;
  width: 93%;
  margin-left: 0;
  text-align: center;
  /* margin-top: -25px; */
}
#payoutBtn {
  padding: 10px;
  width: 100%;
  margin-left: 0;
  text-align: center;
  /* margin-top: -50px; */
}

.referenceContainer {
  background-color: rgb(66, 224, 137);
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: space-between;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}

#alertText {
  position: absolute;
  top: 30px;
  font-size: 26px;
  font-weight: bold;
}

.Navigations {
  background: linear-gradient(to left, rebeccapurple, skyblue);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
}
.Navigations > button {
  padding: 10px;
  font-family: "Arial Rounded MT";
}

button:hover {
  cursor: pointer;
}
